@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

.btn-rounded,
:visited {
    position: relative;
    text-transform: uppercase;
    padding: 0.7rem 2.5rem 0.7rem 0.7rem;
    font-weight: 700;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.6);
    background-color: #246888;
    color: #fff;
    transform: scale(1);
    transition: all 0.3s;
}

@media (min-width: 992px) {

    .btn-rounded,
    :visited {
        padding: 0.93rem 4.3rem 0.93rem 1.2rem;
        font-weight: 700;
        margin-left: 0.5rem;
        margin-bottom: 2rem;
    }
}

.btn-rounded span,
:visited span {
    position: absolute;
    background-color: #fff;
    width: 2rem;
    height: 2rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
}

@media (min-width: 992px) {

    .btn-rounded span,
    :visited span {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.btn-rounded span i,
:visited span i {
    color: #246888;
    font-size: 0.9rem;
    line-height: 2rem;
}

@media (min-width: 992px) {

    .btn-rounded span i,
    :visited span i {
        font-size: 1rem;
        line-height: 2.5rem;
    }
}

.btn-rounded:hover,
:visited:hover {
    transform: scale(1.1);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    /*Offsetx, y, blur, color and opacity*/
}

.btn-rounded:hover span,
:visited:hover span {
    background-color: #fff;
}

.btn-rounded:hover span i,
:visited:hover span i {
    transform: translateX(2px);
}

.btn-rounded:active,
:visited:active {
    outline: none;
    transform: translateY(-0.5px);
    /*It moves down from the reference*/
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    /*Offsetx, y, blur, color and opacity*/
}

.display-2 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 1rem;
    text-transform: capitalize;
}

.display-2--intro {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #ab0033;
    padding-top: 0;
    margin-top: 0.8rem;
}

@media (min-width: 992px) {
    .display-2--intro {
        font-size: 5.5rem;
        margin-top: 5rem;
    }
}

.display-2--description {
    text-transform: uppercase;
    font-size: 1rem;
    display: block;
    color: #54565a;
    margin: 0rem 0 1.5rem 0rem;
}

@media (min-width: 992px) {
    .display-2--description {
        font-size: 1.5rem;
        display: inline-block;
        margin: 1rem 0 3rem 0.5rem;
    }
}

.hero-section {
    background: linear-gradient(120deg, rgba(221,201,163,1) 0%, rgba(233,220,195,1) 5%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
    padding: 5.5rem 0 0 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    .hero-section {
        padding: 10rem 0 0 0;
    }
}

.hero-svg {
    width: 100vw;
    margin-top: -5rem;
}

.hero-content .video-box {
    position: relative;
}

.hero-content .video-box img {
    height: 20.9rem;
    width: auto;
}

@media (min-width: 992px) {
    .hero-content .video-box img {
        height: auto;
        width: auto;
    }
}

.hero-content .video-box a span i {
    font-size: 6rem;
    color: #212529;
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.57rem solid #fff;
    border-radius: 50%;
    animation: pulse-animation 1.65s linear infinite;
}

.border-animation--border-1 {
    animation-delay: 1s;
}

.border-animation--border-2 {
    animation-delay: 1.65s;
    color: rgba(255, 255, 255, 0.9);
}

.menu {
    background: rgb(171,0,51);
    background: radial-gradient(circle, rgba(171,0,51,1) 0%, rgba(171,0,51,1) 22%, rgba(171,0,51,0.9) 35%, rgba(171,0,51,0.9) 70%, rgba(171,0,51,1) 88%, rgba(171,0,51,1) 100%);
    border-bottom: solid 1px #ced4da;
}

.menu ul>* {
    display: inline-block;
    width: min-content;
}

.menu li {
    padding: 0 0.7rem;
}

.menu a {
    color: #212529;
    text-transform: capitalize;
    font-weight: 600;
}

.menu .contact-btn {
    padding: 0 0.3rem;
    margin-left: 0.7rem;
    border-radius: 5px;
    transform: scale(1);
    transition: all 0.4s;
}

.menu .contact-btn:hover {
    transform: scale(1.1);
}

.menu .contact-btn:active {
    transform: scale(0.95);
}

/*# sourceMappingURL=style.css.map */
