/*********************************************/
/*                 NAVBAR CSS               "/
/*********************************************/
/* nav {
    padding: 0.7rem !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    position: fixed !important;
    width: 100%;
    z-index: 99999 !important;
}
#navbar .navbar-brand {
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 25px;
}
#navbar .nav-item {
    padding: 0 8px;
}
#navbar .nav-link {
    color: #ffffff;
    font-size: 14px;
} */

/*********************************************/
/*                 SECTIONS CSS              "/
/*********************************************/
.section {
    padding: 80px 20px;
}

#header {
    background: linear-gradient(180deg, #bc955c, #ddc9a3);
    height: 100vh;
}

.header-content {
    display: flex;
    height: 100vh;
    align-items: center;
}

.header-content .hero {
    z-index: 9;
}

.header-content-container {
    display: flex;
    align-items: center;
}

.header-content-heading {
    padding-top: 50px;
    font-size: 52px;
}

.svg-header-container {
    text-align: center;
}

.header-content-text {
    font-size: 18px;
    line-height: 160.1%;
    color: #ffffff;
    margin-top: 15px;
}

.svg-header-container img {
    height: 100%;
}

.search-container {
    background: #ffffff;
    border-radius: 35px;
    padding: 5px;
    padding-left: 15px;
    margin-top: 40px;
    margin-right: 15%;
    margin-bottom: 50px;
}

.search-container .form-control {
    border: #ffffff
}

.search-container .form-control:focus {
    outline: none;
    border: #ffffff;
    box-shadow: none;
}

.search-container form {
    display: flex;
}

.search-container .btn.main-button {
    font-size: 13px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.about-card {
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 5%);
    padding: 30px 20px;
    margin-bottom: 50px;
    flex: 1;
}

.about-card p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #868080;
}

.about-card img {
    height: 35px;
    width: auto;
}

.about-link-container {
    text-align: center;
}
